<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->

    <title>找回密码-MMO GM管理系统</title>

    <link rel="stylesheet" href="{{static_url}}quirk/lib/fontawesome/css/font-awesome.css">

    <link rel="stylesheet" href="{{static_url}}quirk/css/quirk.css">
    <link rel="stylesheet" href="{{static_url}}quirk/css/custom.css">

    <script src="{{static_url}}quirk/lib/modernizr/modernizr.js"></script>
    <script src="{{static_url}}quirk/lib/jquery/jquery.js"></script>
    <script src="{{static_url}}quirk/lib/jquery-ui/jquery-ui.js"></script>
    <script src="{{static_url}}quirk/lib/bootstrap/js/bootstrap.js"></script>
    <script src="{{static_url}}quirk/lib/jquery-toggles/toggles.js"></script>
    <script src="{{static_url}}quirk/js/core.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{static_url}}quirk/lib/html5shiv/html5shiv.js"></script>
    <script src="{{static_url}}quirk/lib/respond/respond.src.js"></script>
    <![endif]-->

    <!--script data-main="{{static_url}}quirk/login" defer async="true" src="{{static_url}}quirk/lib/require/require.js"></script-->
</head>

<body class="signwrapper">
<div class="sign-overlay"></div>
<div class="signpanel"></div>

<div class="panel signin">
    <div class="panel-heading">
        <h1>MMO GM管理系统</h1>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group mb10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" name="username" class="form-control" placeholder="请输入用户名" data-check='noNull'>
                </div>
            </div>
            <div class="form-group nomargin">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="email" name="email" class="form-control" placeholder="请输入邮箱" data-check='noNull,email'>
                </div>
            </div>
            <div><a href="login.html" class="forgot">密码想起来了？点击登录</a></div>
            <div class="form-group">
                <button type="button" data-role="submit" data-type="post" data-target="form" class="btn btn-success btn-quirk btn-block" data-action="{{ webroot_path }}admin/public/get_password.html"  data-href="{{ webroot_path }}admin/public/login.html">找回密码</button>
            </div>
        </form>
    </div>
</div><!-- panel -->


<script>
    $(document).ready(function(){
        $('[data-action]').momoAjax();
    });
</script>
</body>
</html>
